// Reset
body, div, section, main, header, footer, p, ul, h1, h2 {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    display: block;
}

// Body
body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: $branco url('../img/icons_bg.svg') repeat top center;
}